*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main{
    background-image: url(./Image/josh-nezon-R1Zb58LmwIY-unsplash.jpg);
    min-height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

section{
    background-color: white;
    border-radius: 5px;
    padding: 4rem;
}